* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: "OpenSans", Arial, Tahoma, sans-serif;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


/*--Fonts--*/

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("ttf"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf") format("ttf"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


/*--Main-header--*/

.main-header {
  padding: 33px 0 84px;

  color: #ffffff;
  background: #090a36 url("../images/header-background.jpg") no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-wrapper {
  display: block;
  text-align: center;
}

.title {
  max-width: 280px;
  margin-top: 133px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
}

.title-second-string {
  display: block;
  margin-top: 20px;
  margin-left: 44px;
}

.links-list {
  margin-top: 80px;
}

.links-item:not(:first-of-type) {
  margin-top: 14px;
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 280px;
  max-width: 310px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 84px;

  font-size: 8px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #5e3db3;
  border-radius: 50px;

  transition: all 0.3s ease-out;
}

.link-icon {
  width: 22px;
  height: 24px;

  fill: #ffffff;
}

.link:active {
  color: #090a36;
  background-color: #ffffff;
}

.link:active .link-icon {
  fill: #090a36;
}

.link-paragraph {
  margin-left: 10px;
}

.link-name {
  display: block;

  font-weight: 700;
}


/*--Main-content--*/
/*--Athlets/Players--*/

.section-title {
  margin-top: 16px;

  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #e7e7e7;
}

.section-list {
  padding-top: 230px;

  counter-reset: list;
}

.container-image {
  position: relative;
}

.container-image::before {
  content: "";
  display: block;
  position: absolute;
  top: -305px;
  left: 50%;
  transform: translateX(-50%);
}

.container-image-athlets::before {
  width: 174px;
  height: 281px;
  background: url("../images/athlets.png") no-repeat;
}

.container-image-players::before {
  width: 302px;
  height: 248px;
  background: url("../images/players.png") no-repeat;
}

.section-item {
  padding: 60px 0 50px;
}

.first-item {
  padding-top: 80px;

  background-color: #fafafa;
}

.second-item {
  background-color: #f5f4f9;
}

.third-item {
  background-color: #5e3db3;
}

.section-subtitle {
  position: relative;
  padding-left: 25px;

  font-weight: 700;
  font-size: 23px;
  line-height: 1.5;
  text-transform: uppercase;

  color: #c1c1c1;
}

.section-subtitle::before {
  content: "0" counter(list);
  counter-increment: list;
  position: absolute;
  top: 3px;
  left: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.46;

  color: #000000;
}

.section-subtitle::after {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: 0;
  width: 16px;
  height: 4px;

  background-color: #5e3db3;
  border-radius: 1.5px;
}

.light-border::after {
  background-color: #ffffff;
}

.section-paragraph {
  margin-top: 20px;

  font-size: 15px;
  line-height: 1.2;
}

.dark-background {
  background-color: #090a36;
}

.violet-number::before {
  color: #5e3db3;
}

.section-paragraph-light {
  color: #ffffff;
}


/*--Steps--*/
.steps-list {
  max-width: 1920px;
  margin: 0 auto;
  counter-reset: list;
}

/* Фоновые изображения для блока steps

.steps-item {
  position: relative;
  padding: 351px 0 77px;
}

.steps-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 351px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.step-be-active::before {
  background-image: url("../images/be-active-640.jpg");
}

.step-find-contact::before {
  background-image: url("../images/find-contact-640.jpg");
}

.step-work-it::before {
  background-image: url("../images/work-it-640.jpg");
}
*/

.image {
  width: 100%;
  height: auto;
}

.container-steps {
  padding-bottom: 80px;
}

.steps-subtitle {
  position: relative;
  margin-top: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #e7e7e7;
}

.steps-subtitle::before {
  content: "0" counter(list);
  counter-increment: list;
  position: absolute;
  top: -90px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.46;

  color: #ffffff;
  background-color: #5e3db3;
}

.steps-subtitle::after {
  content: "";
  display: block;
  position: absolute;
  top: -45px;
  left: 27px;
  width: 16px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1.5px;
}

.steps-paragraph {
  margin-top: 15px;

  font-size: 16px;
  line-height: 1.25;
}


/*--Media-queries--*/

@media (min-width: 641px) {
  /*--Main-header--*/
  .main-header {
    padding: 39px 0 92px;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .title {
    max-width: 600px;
    margin-top: 172px;


    font-weight: 700;
    font-size: 64px;
  }

  .title-second-string {
    margin-top: 5px;
    margin-left: 100px;
  }

  .links-list {
    display: flex;
    justify-content: center;
    margin-top: 294px;
  }

  .links-item:not(:first-of-type) {
    margin-top: 0;
    margin-left: 30px;
  }

  .link {
    justify-content: center;
    min-width: 310px;
    padding: 16px 36px;

    font-size: 14px;
  }

  .link-icon {
    width: 41px;
    height: 45px;
  }

  .link:hover {
    background-color: #ffffff;
    color: #090a36;
  }

  .link:hover .link-icon {
    fill: #090a36;
  }

  .link-paragraph {
    margin-left: 27px;
  }

  /*--Main-content--*/
  /*--Athlets/Players--*/
  .container-athlets {
    max-width: 443px;
    margin-left: auto;
  }

  .container-players {
    max-width: 400px;
    margin-right: auto;
  }

  .section-title {
    margin-top: 76px;

    font-size: 80px;
    line-height: 0.75;
  }

  .section-list {
    padding-top: 0;
  }

  .container-image {
    position: relative;
  }

  .container-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    transform: translateX(0);
  }

  .container-image-athlets::before {
    top: -90px;
    left: -450px;
    width: 434px;
    height: 699px;
    background: url("../images/athlets-768.png") no-repeat
  }

  .container-image-players::before {
    top: -155px;
    right: -560px;
    width: 690px;
    height: 565px;
    background: url("../images/players-768.png") no-repeat;
  }

  .section-item {
    padding: 35px 0;
  }

  .first-item {
    background-color: #ffffff;
  }

  .section-subtitle {
    padding-left: 30px;

    font-size: 32px;
    line-height: 1.2;
  }

  .section-subtitle::before {
    font-size: 18px;
    line-height: 1.46;
  }

  .section-subtitle::after {
    top: 27px;
    left: 0;
    width: 21px;
    height: 5px;
  }

  .section-paragraph {
    font-size: 16px;
    line-height: 1.75;
  }


  /*--Steps--*/
  .container-steps {
    padding-bottom: 100px;
  }

  .steps-subtitle {
    margin-top: 80px;

    font-size: 80px;
    line-height: 0.9;
  }

  .steps-subtitle::before {
    top: -160px;
    width: 116px;
    height: 116px;

    font-size: 24px;
  }

  .steps-subtitle::after {
    top: -85px;
    left: 44px;
    width: 28px;
    height: 5px;
  }

  .steps-paragraph {
    margin-top: 15px;

    font-size: 24px;
    line-height: 1.2;
  }

/* Фоновые изображения для блока steps
  .steps-item {
    padding: 584px 0 100px;
  }

  .steps-item::before {
    height: 584px;
  }

  .step-be-active::before {
    background-image: url("../images/be-active-768.jpg");
  }

  .step-find-contact::before {
    background-image: url("../images/find-contact-768.jpg");
  }

  .step-work-it::before {
    background-image: url("../images/work-it-768.jpg");
  }
  */
}


@media (min-width: 961px) {
  /*--Main-header--*/
  .main-header {
    padding: 45px 0 110px;
  }

  .container {
    max-width: 1558px;
    padding: 0 15px;
  }

  .main-header {
    background-image: url("../images/header-background-1920.jpg");
  }

  .title {
    max-width: 100%;
    margin-top: 282px;

    font-size: 90px;
  }

  .title-second-string {
    max-width: 1009px;
    margin-top: -15px;
    margin-left: auto;

    line-height: 1.1;
  }

  .links-list {
    margin-top: 195px;
  }

  /*--Main-content--*/
  /*--Athlets/Players--*/

  .container-athlets {
    max-width: 716px;
  }

  .container-players {
    max-width: 755px;
  }

  .section-title {
    margin-top: 109px;
  }

  .container-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    transform: translateX(0);
  }

  .container-image-athlets::before {
    top: -250px;
    left: -600px;
    width: 566px;
    height: 908px;
    background: url("../images/athlets-1920.png") no-repeat;
  }

  .container-image-players::before {
    top: -255px;
    right: -795px;
    width: 991px;
    height: 815px;
    background: url("../images/players-1920.png") no-repeat;
  }

  .section-list {
    margin-top: 50px;
  }

  .section-item {
    padding: 55px 0;
  }

  .section-subtitle {
    padding-left: 32px;

    font-size: 36px;
    line-height: 1;
  }

  .section-paragraph {
    font-size: 20px;
    line-height: 1.4;
  }


  /*--Steps--*/
  /* Фоновые изображения для блока steps
  .steps-item {
    padding: 584px 0 77px;
  }

  .steps-item::before {
    height: 584px;
  }

  .step-be-active::before {
    background-image: url("../images/be-active-768.jpg");
  }

  .step-find-contact::before {
    background-image: url("../images/find-contact-768.jpg");
  }

  .step-work-it::before {
    background-image: url("../images/work-it-768.jpg");
  }*/
}
