* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: "OpenSans", Arial, Tahoma, sans-serif;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


/*--Fonts--*/

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("ttf"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf") format("ttf"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


/*--Common--*/

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo-wrapper {
  display: block;
  text-align: center;
}

.logo-image {
  width: 133px;
  height: 36px;
}

.link {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 280px;
  max-width: 310px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 84px;

  font-size: 8px;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #5e3db3;
  border-radius: 50px;

  transition: all 0.3s ease-out;
}

.link-icon {
  width: 22px;
  height: 24px;

  fill: #ffffff;
}

.link:active {
  color: #090a36;
  background-color: #ffffff;
}

.link:active .link-icon {
  fill: #090a36;
}

.link-paragraph {
  margin-left: 10px;
}

.link-name {
  display: block;

  font-weight: 700;
}

/*--Main-header--*/

.main-header {
  padding: 33px 0 84px;

  color: #ffffff;
  background: #090a36 url("../images/header-background.jpg") no-repeat;
  background-size: cover;
}

.title {
  max-width: 280px;
  margin-top: 133px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
}

.title-second-string {
  display: block;
  margin-top: 20px;
  margin-left: 44px;
}

.links-list {
  margin-top: 80px;
}

.links-item:not(:first-of-type) {
  margin-top: 14px;
}


/*--Athlets/Players--*/

.section-title {
  margin-top: 16px;

  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #e7e7e7;
}

.section-list {
  padding-top: 230px;

  counter-reset: list;
}

.container-image {
  position: relative;
}

.container-image::before {
  content: "";
  display: block;
  position: absolute;
  top: -305px;
  left: 50%;
  transform: translateX(-50%);
}

.container-image-athlets::before {
  width: 174px;
  height: 281px;

  background: url("../images/athlets.png") no-repeat;
}

.container-image-players::before {
  width: 302px;
  height: 248px;

  background: url("../images/players.png") no-repeat;
}

.section-item {
  padding: 60px 0 50px;
}

.first-item {
  padding-top: 80px;

  background-color: #fafafa;
}

.second-item {
  background-color: #f5f4f9;
}

.third-item {
  background-color: #5e3db3;
}

.section-subtitle {
  position: relative;

  padding-left: 25px;

  font-weight: 700;
  font-size: 23px;
  line-height: 1.5;
  text-transform: uppercase;

  color: #c1c1c1;
}

.section-subtitle::before {
  position: absolute;
  top: 3px;
  left: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.46;

  color: #000000;

  content: "0" counter(list);
  counter-increment: list;
}

.section-subtitle::after {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: 0;

  width: 16px;
  height: 4px;

  background-color: #5e3db3;
  border-radius: 1.5px;
}

.light-border::after {
  background-color: #ffffff;
}

.section-paragraph {
  margin-top: 20px;

  font-size: 15px;
  line-height: 1.2;
}

.dark-background {
  background-color: #090a36;
}

.violet-number::before {
  color: #5e3db3;
}

.section-paragraph-light {
  color: #ffffff;
}


/*--Steps--*/

.steps-list {
  max-width: 1920px;
  margin: 0 auto;

  counter-reset: list;
}

.image-wrapper {
  display: block;
  min-height: 351px;

  font-size: 0;
}

.image {
  max-width: 100%;
  height: auto;
}

.container-steps {
  padding: 33px 0 77px;
}

.container-step-work-it {
  padding-bottom: 67px;
}

.steps-subtitle {
  position: relative;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #e7e7e7;
}

.steps-subtitle::before {
  position: absolute;
  top: -90px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.46;

  color: #ffffff;
  background-color: #5e3db3;

  content: "0" counter(list);
  counter-increment: list;
}

.steps-subtitle::after {
  content: "";
  display: block;
  position: absolute;
  top: -45px;
  left: 27px;

  width: 16px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1.5px;
}

.steps-paragraph {
  margin-top: 15px;

  font-size: 16px;
  line-height: 1.25;
}


/*--Main-footer--*/

.main-footer {
  padding: 100px 0 10px;

  color: #ffffff;
  background: #090a36 url("../images/footer-background.jpg") no-repeat;
  background-size: cover;
}

.app-logo-wrapper {
  display: flex;
  width: 72px;
  height: 74px;
  margin: 0 auto;

  background-color: #5e3db3;
  background: linear-gradient(to top, #50329c, #7751db);
  border-radius: 20px;
}

.app-logo-image {
  width: 60px;
  height: 49px;
  margin: auto;
}

.footer-title {
  margin-top: 55px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 1.6px;
  text-align: center;
  text-transform: uppercase;
}

.footer-title-small {
  display: block;
  margin-top: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.7px;

  color: #9b8dc3;
}

.footer-links-list {
  margin-top: 75px;
}

.footer-logo-wrapper {
  margin-top: 80px;
}


/*------------------------------------------Media-queries------------------------------------------*/

@media (min-width: 641px) {

  /*--Common--*/

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .logo-image {
    width: 205px;
    height: 56px;
  }

  .link {
    min-width: 310px;
    padding: 16px 50px;

    font-size: 14px;
  }

  .link-icon {
    width: 41px;
    height: 45px;
  }

   .link-paragraph {
    margin-left: 27px;
  }


  /*--Main-header--*/

  .main-header {
    padding: 39px 0 92px;

    background-image: url("../images/header-background-768.jpg");
  }

  .title {
    max-width: 600px;
    margin-top: 172px;

    font-weight: 700;
    font-size: 64px;
  }

  .title-second-string {
    margin-top: 5px;
    margin-left: 100px;
  }


  /*--Athlets/Players--*/

  .container-athlets {
    max-width: 443px;
    margin-left: auto;
  }

  .container-players {
    max-width: 400px;
    margin-right: auto;
  }

  .section-title {
    margin-top: 80px;

    font-size: 80px;
    line-height: 0.75;
  }

  .section-list {
    margin-top: 20px;
    padding-top: 0;
  }

  .container-image {
    position: relative;
  }

  .container-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    transform: translateX(0);
  }

  .container-image-athlets::before {
    top: -90px;
    left: -450px;

    width: 434px;
    height: 699px;

    background-image: url("../images/athlets-768.png");
  }

  .container-image-players::before {
    top: -155px;
    right: -560px;

    width: 690px;
    height: 565px;

    background-image: url("../images/players-768.png");
  }

  .section-item {
    padding: 40px 0 35px;
  }

  .first-item {
    background-color: #ffffff;
  }

  .section-subtitle {
    padding-left: 30px;

    font-size: 32px;
    line-height: 1.2;
  }

  .section-subtitle::before {
    font-size: 18px;
    line-height: 1.46;
  }

  .section-subtitle::after {
    top: 27px;
    left: 0;

    width: 21px;
    height: 5px;
  }

  .section-paragraph {
    font-size: 16px;
    line-height: 1.75;
  }


  /*--Steps--*/

  .container-steps {
    padding: 70px 0 100px;
  }

  .container-step-be-active {
    padding-top: 80px;
  }

  .container-step-find-contact {
    padding-bottom: 110px;
  }

  .steps-subtitle {
    font-size: 80px;
    line-height: 0.9;
  }

  .steps-subtitle::before {
    top: -160px;

    width: 116px;
    height: 116px;

    font-size: 24px;
  }

  .steps-subtitle::after {
    top: -85px;
    left: 44px;

    width: 28px;
    height: 5px;
  }

  .steps-paragraph {
    margin-top: 30px;

    font-size: 24px;
    line-height: 1.2;
  }


  /*--Main-footer--*/

  .main-footer {
    padding: 125px 0 25px;

    background-image: url("../images/footer-background-768.jpg");
  }

  .app-logo-wrapper {
    width: 130px;
    height: 137px;
  }

  .app-logo-image {
    width: 106px;
    height: 87px;
  }

  .footer-title {
    margin-top: 70px;

    font-size: 80px;
    letter-spacing: 3px;
  }

  .footer-title-small {
    margin-top: 15px;

    font-size: 36px;
    letter-spacing: 0;
  }

  .footer-links-list {
    margin-top: 285px;
  }

  .footer-logo-wrapper {
    margin-top: 55px;
  }
}


@media (min-width: 768px) {

/*--Common--*/

  .links-list {
    display: flex;
    justify-content: center;
    margin-top: 294px;
  }

  .links-item:not(:first-of-type) {
    margin-top: 0;
    margin-left: 30px;
  }

  .link {
    justify-content: center;
    padding: 16px 36px;
  }

  .link:hover,
  .link:active,
  .link:focus{
    background-color: #ffffff;
    color: #090a36;
  }

  .link:hover .link-icon,
  .link:active .link-icon,
  .link:focus .link-icon{
    fill: #090a36;
  }
}


@media (min-width: 961px) {

  /*--Common--*/

  .container {
    max-width: 1558px;
  }

  .logo-image {
    width: 191px;
    height: 52px;
  }

  /*--Main-header--*/

  .main-header {
    padding: 45px 0 110px;

    background-image: url("../images/header-background-1920.jpg");
  }

  .title {
    max-width: 100%;
    margin-top: 282px;

    font-size: 90px;
  }

  .title-second-string {
    max-width: 1009px;
    margin-top: -15px;
    margin-left: auto;

    line-height: 1.1;
  }

  .links-list {
    margin-top: 195px;
  }


  /*--Athlets/Players--*/

  .container-athlets {
    max-width: 716px;
  }

  .container-players {
    max-width: 755px;
  }

  .section-title {
    margin-top: 109px;
  }

  .container-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    transform: translateX(0);
  }

  .container-image-athlets::before {
    top: -250px;
    left: -600px;

    width: 566px;
    height: 908px;

    background-image: url("../images/athlets-1920.png");
  }

  .container-image-players::before {
    top: -265px;
    right: -795px;

    width: 991px;
    height: 815px;

    background-image: url("../images/players-1920.png");
  }

  .section-list {
    margin-top: 50px;
  }

  .section-item {
    padding: 55px 0;
  }

  .section-subtitle {
    padding-left: 32px;

    font-size: 36px;
    line-height: 1;
  }

  .section-paragraph {
    font-size: 20px;
    line-height: 1.4;
  }


  /*--Main-footer--*/

  .main-footer {
    padding: 230px 0 50px;

    background-image: url("../images/footer-background-1920.jpg");
  }

  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .app-logo-wrapper {
    margin-right: 35px;
    margin-left: 0;
  }

  .footer-title {
    margin-top: 0;

    text-align: left;
  }

  .footer-title-small {
    margin-top: 0;

    font-size: 30px;
  }

  .footer-links-list {
    margin-top: 150px;
  }

  .footer-logo-wrapper {
    margin-top: 260px;
  }
}


@media (min-width: 1025px) {

  /*--Steps--*/

  .steps-wrapper {
    display: flex;
  }

  .container-steps {
    margin: auto 0;
    padding: 70px 0 40px;
  }

  .steps-list {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
  }

  .steps-item {
    display: flex;
  }

  .image-wrapper,
  .steps-wrapper {
    width: 50%;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
  }

  .steps-item:nth-child(even) .image-wrapper {
    order: 1;
  }

  .steps-item:nth-child(odd) .steps-wrapper {
    margin-left: 0;
    padding-left: 100px;
  }

  .steps-item:nth-child(even) .steps-wrapper {
    margin-right: 0;
    padding-right: 100px;
  }

  .steps-wrapper {
    max-width: 740px;
  }

  .steps-subtitle::before {
    top: -20px;
    left: -158px;
  }

  .steps-subtitle::after {
    top: 55px;
    left: -114px;
  }

  .steps-item:nth-child(even) .steps-subtitle::before {
    right: -158px;
    left: auto;
  }

  .steps-item:nth-child(even) .steps-subtitle::after {
    top: 55px;
    right: -114px;
    left: auto;
  }
}


@media (min-width: 1558px) {

  /*--Common--*/

  .container {
    padding: 0 15px;
  }


  /*--Steps--*/

  .container-step-be-active .steps-paragraph {
    margin-top: 110px;
  }

  .container-step-find-contact .steps-paragraph {
    margin-top: 65px;
  }

  .container-step-work-it .steps-paragraph {
    margin-top: 100px;
  }

  .steps-subtitle::before {
    top: 50%;
    left: -214px;
    transform: translateY(-50%);

    width: 168px;
    height: 155px;
  }

  .steps-item:nth-child(odd) .steps-wrapper {
    margin-left: 0;
    padding-left: 130px;
  }

  .steps-item:nth-child(even) .steps-wrapper {
    margin-right: 0;
    padding-right: 130px;
  }

  .steps-subtitle::after {
    left: -145px;
  }

  .steps-item:nth-child(even) .steps-subtitle::before {
    right: -214px;
  }

  .steps-item:nth-child(even) .steps-subtitle::after {
    right: -144px;
  }
}


@media (min-width: 1920px) {

  /*--Steps--*/

  .container-steps {
    padding-top: 250px;
  }

  .container-step-be-active {
    padding-bottom: 240px;
  }

  .container-step-find-contact {
    padding-bottom: 280px;
  }

  .container-step-work-it {
    padding-bottom: 220px;
  }
}